.form-control {
  /* border: var(--inspect); */
  margin-bottom: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .categories-wrapper {
    width: 250px;

    .cat-link {
      display: block;
      border-bottom: 1px solid var(--clr-grey);
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-family: var(--font-headings);
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      color: var(--clr-grey);
      text-transform: capitalize;
      transition: var(--transition);

      & span {
        margin-right: 25px;
      }

      &:hover {
        color: var(--clr-darkBlue);

        & span {
          color: var(--clr-darkCyan);
        }
      }
    }
  }

  .options-container {
    /* border: var(--inspect); */

    .set-wrapper {
      margin-bottom: 80px;

      .set-heading {
        margin-bottom: 50px;
        font-family: var(--font-headings);
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        color: var(--clr-grey);

        @media screen and (max-width: 950px) {
          margin-bottom: 23px;
          font-size: 24px;
          line-height: 28px;
        }
      }

      .radio-btns-wrapper {
        display: flex;
        gap: 20px;
      }
    }

    input[type="submit"] {
      margin: -40px 0;
      margin-left: auto;
    }
  }

  @media screen and (max-width: 1300px) {
    padding: 0;

    .categories-wrapper {
      display: none;
    }

    .options-container {
      .set-wrapper {
        .radio-btns-wrapper {
          gap: 10px;
        }
      }

      input[type="submit"] {
        margin: -40px auto;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .options-container {
    width: 100%;

    .set-wrapper {
      .radio-btns-wrapper {
        flex-direction: column;
      }
    }
  }
}
