.subscription-container {
  .set-wrapper {
    border: var(--inspect);
    margin-bottom: 80px;

    .set-heading {
      margin-bottom: 50px;
      font-family: var(--font-headings);
      font-size: 40px;
      font-weight: 900;
      line-height: 48px;
      color: var(--clr-grey);
    }

    .radio-btns-wrapper {
      display: flex;
      gap: 20px;
    }
  }
}
